
<html>
<app-header></app-header>
<body>
<div  class="container">
    <router-outlet></router-outlet>


    
</div>
</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD5vhI-Ic-MxUIJ7e1g0ttKN5cNHI_8fJ8",
    authDomain: "angular-portfolio-391e2.firebaseapp.com",
    databaseURL: "https://angular-portfolio-391e2.firebaseio.com",
    projectId: "angular-portfolio-391e2",
    storageBucket: "angular-portfolio-391e2.appspot.com",
    messagingSenderId: "265372074158",
    appId: "1:265372074158:web:712b2ec04aac8609"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</html>